<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="shortcut icon" href="favicon.ico">
    <title>{{= it.title }}</title>
  </head>
  <body>
    <noscript>
      you need to enable javascript to run this app.
    </noscript>
    <div id="root"></div>
    {{~ it.scripts :script }}
    <script defer crossorigin src="{{= script }}" type="text/javascript"></script>
    {{~}}
  </body>
</html>
