<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <% styles.forEach(style => { %>
    <link href="<%= style %>" rel="stylesheet">
    <% }); %>
  </head>
  <body>
    <div id="${ engine }"></div>
    <% scripts.forEach(script => { %>
    <script defer src="${ script }" type="text/javascript"></script>
    <% }); %>
  </body>
</html>
